.age-modal { background-color: rgba(0,0,0,0.3) }
.age-modal-dialog {}
.age-modal-content { text-align: center; }
.age-modal-body {}
.age-modal-heading { margin-bottom: 25px; }
.age-modal-logo-wrapper {}
.age-modal-logo { max-height: 50px; }
.age-modal-message { margin: 25px 0; }
.age-modal-button {}
